.form-div{
    /* margin:100px; */
    background-color: antiquewhite;
    justify-content: center; 
    border: 2px solid gray;
    height: auto;
    width: 100vw;
  }
 form { 
     margin: 0 auto; 
     width:550px;
     border: 2px solid gray;
     text-align: center;
     padding: 20px;
     background-color: yellowgreen;
     }
 label {
     width:180px;
     clear:left;
     text-align:center;
     padding-left:40px;
     margin-top: 10px;
     margin-right:20px;
     
     
     
 }
 
  input{
     width: 300px;
     height: 30px;
    
   
 }
 #reserve-submit{
     text-align: center;
     width: 400px;
     /* background-color: blue; */
 } */

 
 #text-area{
     height: 100px;
     
 }