.home-container{
    background: url("../images/hotel.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 91vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    
    
}
.home-container > h1 {
    
    color: white;
    font-family: cursive;
    
}