.home-container{
    background: url("https://lh3.googleusercontent.com/proxy/gVgsWgPxCd0OZVdNu0qhss3Hhe1iVQqmYaXgBoSC8MbHPQB_FnIC_HCJnmKCj3vAYjj93QXa2q5ruKzOL0gOwsqzLIeD9HBqdI3jNbqVSrXCrYSTgQkHHmrYCMIFAQIU");
    background-attachment: fixed;
    background-size: cover;
    height: 91vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    
    
}
.home-container > h1 {
    
    color: white;
    font-family: cursive;
    
}