.navbar-link{
    display:flex;
    /* justify-content: none; */
    list-style-type: none;
    background-color: yellow;
    
}
.navbar-link > li {
    margin: 10px;
    
}
.Navbar{
    /* background-color: yellow; */
    padding: 20px;
}